<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>Travel Planner</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "app">
  <div class ="holder headline">
    Travel Planner
  </div>
  <div class ="holder zip">
    <label for="cityName">Enter City here</label>
    <input type="text" id="city" placeholder="ex: Hanoi">
  </div>
  <div class ="holder feel">
    <label for="tripStartDate">What is your trip start date?</label>
    <input type="date" class= "myInput" id="feelings" placeholder="Enter your trip start date">
    <button id="submitBtn" type = "submit"> Submit </button>
  </div>
  <div class ="holder entry">
    <div class = "title" id="boardTitle">Trip Details</div>
    <div id = "entryHolder">
    <div id = "tripTitle"></div>
    <div id = "date"></div>
    <div>
      <div id = "currentWeather"> Current Weather</div>
      <img src="" alt="" id="weatherIcon" class="icon"/>
      <div id = "weatherDescription"></div>
    </div>
    <div>
      <img src="" alt="" id="cityImage"/>
    </div>
  </div>
  </div>
</div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
  </script>
</body>
</html>