<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>Travel Planner App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "app">
  <div class ="holder headline">
    Travel Planner
  </div>

  <div class="holder tripContent">
    <div id = "tripTitle"></div>
    <div id = "date"></div>
    <div id = "tripCountDown"></div>
    <div id = "currentWeather"></div>
    <div class="weatherDisplay">
      <img src="" alt="" id="weatherIcon" class="icon"/>
      <div id = "weatherDescription1"></div>
    </div>
    <div id = "weatherDescription2"></div>

  </div>

  <div class="holder photoFrame">
    <img src="" alt="" id="cityImage"/>
  </div>


  <div class ="holder tripInput">
    <label for="cityName">Enter City here</label>
    <input type="text" id="city" placeholder="ex: Hanoi">
    <label>What is your trip start date?</label>
    <input type="date" id="tripStartDate">
    <button id="submitBtn" type = "submit"> Save trip </button>
  </div>

</div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
  </script>
</body>
</html>