body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "hd hd"
        "pt mn"
        "pt mn"
        "ft ft"
        "ft ft"
    ;
    height:100vh;
    background: #e9778f;
    color: #f0d43a;
    // justify-items: center;
    // justify-content: center;
    // align-items: center;
    grid-gap: 1em;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;

}

#submitBtn {
    margin-top: 4px;
}

.holder{
    // border: 2px solid #fff;
    // border-radius: 4px;
    padding: 8px;
}

.headline {
    display: flex;
    flex-direction: column;
    grid-area: hd;
    font-size: 2em;
}

.tripInput{
    display: flex;
    flex-direction: column;
    grid-area: ft;
    background: rgba(59, 74, 107, .4);
    align-items: center;
}

.photoFrame{
    display: flex;
    flex-direction: column;
    grid-area: pt;
}

.tripContent{
    display: flex;
    flex-direction: column;
    grid-area: mn;
}

.weatherDisplay {
    display: flex;
    flex-direction: row;
}

.title{
    font-size: 2em;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 1.6em;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 1.4em;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 320px;
    height: 60px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

.icon {
    width: 1em;
    align-self: center;
}


@media(min-width: 600px) {

    #app{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "hd hd .  ."
            "pt pt mn mn"
            "pt pt mn mn"
            "ft ft ft ft"
            "ft ft ft ft"
        ;
        height:100vh;
        background: #e9778f;
        color: #f0d43a;
        // justify-items: center;
        // justify-content: center;
        // align-items: center;
        grid-gap: 1em;
        font-size: 16px;
        font-family: 'Oswald', sans-serif;
    }
}

